.cattles-manage-wrapper {
    background-color: #F6F9FA;
    padding: 5px 20px;
    margin:  5px;
    margin: 5px;
    position: relative;
}

.cattle-top {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.cattles-add h3 {
    color: mediumseagreen;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: bold;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}

.cattle-manage {
    background-color: #F6F9FA;
    padding: 20px 1px;
    border-radius: 7px;
}

.dash-numbers {
    display: flex;
    gap: 20px;
    margin: 20px 5px;
}

.dash-content {
    display: flex;
    width: 250px;
    border-radius: 7px;
    padding: 10px;
    gap: 20px;
    font-size: 20px;
    border: 1.5px solid lightgrey;
    background-color: white;
}

.dash-icon {
    color:rgba(0, 0, 0, 0.7);
}

.dash-desc h3 {
    font-size: 18px;
}

.dash-desc p {
    color: mediumseagreen;
}

.btn-add {
    display: flex;
    gap: 4px;
    border-radius: 20px;
    padding: 10px 15px;
    width: 100px;
    border: 1px solid lightgrey;
    background-color: white;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    color: black;
}

.btn-add:hover {
    background-color: black;
    color: white
}

.sort-by-wrapper {
    background-color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    
}

.sorts {
    font-weight: 550;
    font-size: 15px;
}

.sort-by {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sort-status-type {
    display: flex;
    gap: 10px;
}

.statusType span {
    color: red;
}

.sort {
    width: 20px;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 30px;
}

.btn-sort {
    padding: 7px;
    border: 1px solid lightgrey;
    border-radius: 4px;
    background-color: white;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.btn-sort:hover {
    background-color: mediumseagreen;
    color: white;
}

.filter-search {
    display: flex;
    gap: 10px;
}

.filter-search input {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid lightgrey;
}
.filter-search input:focus{
    border: 1px solid lightgrey !important;
}
.radio-btn:active {
    background-color: mediumseagreen;
}

.btn-filter {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    background-color: white;
    width: 50px;
    font-size: 17px;
    text-align: center;
}

.cattle-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(120px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 30px;
}

.cattle-desc {
     border: 0.1px solid lightgrey; 
    padding: 15px 7px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    background-color: white;
}
.pasture-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    background-color: #F6F9FA;
}
.pasture-desc {
     border: 0.1px solid lightgrey; 
    padding: 15px 7px;
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    background-color: white;
}

.cattle-content1 {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: black;
}

.cattle-content2 {
    flex-basis: 20%;
    border-left: 2px solid azure;
    text-align: center;
    padding-top: 20%;
}
.pasture-content2 {
    flex-basis: 20%;
    border-left: 2px solid azure;
    text-align: center;
    padding-top: 10%;
}

.zero-checkbox {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.zero-checkbox:checked {
    background-color: mediumseagreen;
    border-color: white;
}

.zero-checkbox:checked::before {
    content: '\2713';
    display: block;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    color: white;
}

.cattle-content2 .openCircle {
    width: 20px;
    height: 20px;
    color: white;
    background-color: mediumseagreen;
    border-radius: 50%;
    cursor: pointer;
}

.cow-status {
    display: flex;
    align-items: center;
    gap: 7px;
}

.ear {
    display: flex;
    gap: 7px;
    align-items: center;

}

.ear p {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.9);
}

.cow {
    display: flex;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 4px;
    font-size: 12px;
    align-items: center;
}
.cow span{
    margin-left:3px ;
}
.status {
    font-size: 12px;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 4px;
    font-size: 12px;
    display: flex;
    gap: 5px;
    align-items: center;

}

.active-cow {
    color: mediumseagreen;
}

.btn-deletee {
    background-color: rgb(242, 53, 53);
    outline: 0;
    border: 0;
    color: white;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
    cursor: pointer;
}

/* cattle detail design */
.top-manage {
    position: absolute;
    top: 10px;
    font-size: 14px;
}

.cattle-detail-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(70px, auto);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 4rem;
}

.top-h1-detail {
    font-size: 17px;
    color: mediumseagreen;
}

.cattle-detail-desc {
    border: 0.1px solid azure; 
    background-color: white;
    border-radius: 5px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cattle-detail-desc h1 {
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.7);
}

.cattle-detail-desc p {
    font-size: 13px;
    color: gray;
    text-transform: capitalize;
}

.btn-edit-wrapper {
    float: right;
    display: flex;
    margin-top: 120px;
    gap: 20px;
}

.btn-delete {
    padding: 10px;
    border-radius: 20px;
    color: black;
    background-color: white;
    width: 120px;
    border: 1px solid lightgrey;
    font-size: 13px;
}

.btn-edit {
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
    outline: 0;
    border: 0;
    color: white;
    background-color: black;
    width: 120px;
    text-decoration: none;
    text-align: center;
}

/* cattle edit design */
.edit-cattle-wrapper {
    background-color: white;
    padding: 20px;
}

.edit-wrapper {
    display: flex;
    gap: 30px;
    padding: 30px 2px;
    border-bottom: 1px solid lightgrey;
}

.edit-wrapper input {
    width: 300px;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid lightgrey;
}

.edit-wrapper select {
    width: 300px;
    padding: 12px;
    border-radius: 7px;
    border: 1px solid lightgrey;
}

.edit-wrapper input:focus {
    border: 1px solid lightgrey;
}

.flex-direction {
    position: relative;
}

.edit-wrapper label {
    color: mediumseagreen;
    position: absolute;
    top: 10px;
    z-index: 3;
    left: 3%;
    font-size: 0.75rem;
    background-color: white;
}

.edit-wrapper span {
    color: red;
}

.status-type-breed {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding: 30px 2px;
}

.lable-wrapper {
    padding: 4px; 
     display: flex;
     color:white;
    text-align: center;
    position: relative;

}

.lable-wrapper span {
    font-size: 13px;
    color: black;
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
    padding-top: 0;
}

.status-types {
    display: flex;
    gap: 20px;
}


.status-types input[type='radio'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 10px;
    border-radius: 20px;
     border: 1px solid lightgrey; 
     display: flex;
     color:white;
    width: 78px;
    text-align: center;
    height: 30px;
}

.status-types input[type='radio']:checked {
    background-color: mediumseagreen;
    border-color: white;
}

.top-manage p {
    color: mediumseagreen;
    font-size: 20px;
}

.statusType {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statusType p {
    font-size: 13px;
}

.breed-pasture-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(80px, auto);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: 20px 2px;
}

.breed-pasture-desc {
    height: 80px;
}

.breed-pasture-desc select {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.breed-pasture-desc input {
    width: 100%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 4px;
}

.breed-pasture-desc label {
    color: mediumseagreen;
    position: absolute;
    top: 10px;
    z-index: 3;
    left: 3%;
    font-size: 0.75rem;
    background-color: white;
}

.activity-model-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(169, 165, 165, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.activity-modal {
    width: 500px;
    background-color: white;
    border-radius: 7px;
    padding: 7px;
    padding-right: 10px;
    position: relative;
    margin: auto;
    height: 350px;
    position: fixed;
}

.flex-top {
    display: flex;
    justify-content: space-between;
}

.flex-top p {
    font-size: 15px;
    font-weight: bold;
}

.modal-bodys {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}

.body1,
.body2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.d-flex-10 {
    display: flex;
    gap: 6px;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid grey;
    left: 0;
    right: 0;
    padding: 20px;
}

.modal-btn {
    display: flex;
    gap: 10px;
    float: right;

}

/* .btn-ok {
    padding: 10px;
    border-radius: 20px;
    background-color: black;
    color: white;
    width: 60px;
    outline: 0;
    border: 0;
    cursor: pointer;
} */
.btn-ok {
    padding: 7px;
    border-radius: 20px;
    background-color: black;
    color: white;

    width: 70px;
    outline: 0;
    border: 0;
    cursor: pointer;
}

.btn-cancel {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    color: black;
    width: 60px;
    outline: 0;
    border: 0;
    transition: 0.5s;
}

.btn-cancel:hover {
    border: 1px solid black;

}

.delete-body {
    width: 400px;
    background-color: white;
    border-radius: 7px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 10px;
    position: relative;
    margin: 80px 28%;
    height: 300px;
}
.delete-body h2{
    font-size: 15px;
}
.delete-body p {
    margin-top: 30px;
    font-size: 14px;
}
.delete-body span{
    font-weight: bold;
}

.paginationBttns{
    display: flex;
    gap: 20px;
    list-style-type: none;
    float:right;
    padding: 10px;
    text-transform: capitalize;
    margin-top: 20px;
    cursor: pointer;
  
  }
  .previousBttn{
    text-decoration: none;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
  }
  .nextBttn{
    text-decoration: none;
    font-size: 14px;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }
  .paginationActive{
    background-color: mediumseagreen;
    color: white;
    width: 30px;
    text-align: center;
    height: 20px;
  }


  /* cattles responsiveness */

  @media screen and (max-width: 900px) {
    .dash-numbers {
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-auto-rows: minmax(80,auto);
    }
    .dash-content {
        display: flex;
        width: 180px;
        border-radius: 7px;
        padding: 10px;
        gap: 20px;
        font-size: 20px;
        border: 1.5px solid lightgrey;
        background-color: white;
    }
    .sort-by-wrapper {

        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
    
        
    }
    .sorts {
        font-weight: 550;
        font-size: 15px;
    }
    
    .sort-by {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    .sort-status-type {
        display: flex;
        gap: 10px;
    }
    
    .statusType span {
        color: red;
    }
    .filter-search {
        display: flex;
        gap: 10px;
    
    }
    .filter-search input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        width: 300px;
        margin-left: 10px;
    }
    .filter-search input:focus{
        border: 1px solid lightgrey !important;
    }
    .btn-filter {
        padding: 4px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        background-color: #F6F9FA;
        width: 50px;
        height: 40px;
        font-size: 17px;
        text-align: center;
        
    }
    
    .cattle-wrapper {
display: flex;
flex-direction: column;
    }
    .cattle-content1 {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;
        color: black;
    }
    
    .cattle-content2 {
        flex-basis: 20%;
        border-left: 2px solid azure;
        text-align: center;
        padding-top: 5%;
    }
    .pasture-wrapper {
        display: flex;
         flex-direction: column;
        background-color: #F6F9FA;
    }
    .pasture-desc {
         border: 0.1px solid lightgrey; 
        padding: 15px 7px;
        display: flex;
        border-radius: 10px;
        justify-content: space-between;
        background-color: white;
    }


    /* edit wrapper design responsiveness */
    .edit-cattle-wrapper {
        background-color: white;
        padding: 20px;
    }
    
    .edit-wrapper {
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 30px ;
        border-bottom: 1px solid lightgrey;
    }
    
    .edit-wrapper input {
        width: 100%;
        padding: 12px;
        border-radius: 7px;
        border: 1px solid lightgrey;
    }
    
    .edit-wrapper select {
        width: 100%;
        padding: 12px;
        border-radius: 7px;
        border: 1px solid lightgrey;
    }
    
    .edit-wrapper input:focus {
        border: 1px solid lightgrey;
    }
    
    .flex-direction {
        position: relative;
    }
    
    .edit-wrapper label {
        color: mediumseagreen;
        position: absolute;
        top: 10px;
        z-index: 3;
        left: 3%;
        font-size: 0.75rem;
        background-color: white;
    }
    
    .edit-wrapper span {
        color: red;
    }
    
    .status-type-breed {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;
        padding: 30px;
        gap: 20px;
    }
    
    .lable-wrapper {
        padding: 4px; 
         display: flex;
         color:white;
        text-align: center;
        position: relative;
    
    }
    
    .lable-wrapper span {
        font-size: 13px;
        color: black;
        position: absolute;
        left: 20px;
        top: 10px;
        cursor: pointer;
        padding-top: 0;
    }
    
    .status-types {
        display: flex;
        gap: 20px;
    }
    
    
    .status-types input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        padding: 10px;
        border-radius: 20px;
         border: 1px solid lightgrey; 
         display: flex;
         color:white;
        width: 78px;
        text-align: center;
        height: 30px;
    }
    
    .status-types input[type='radio']:checked {
        background-color: mediumseagreen;
        border-color: white;
    }
    
    .top-manage p {
        color: mediumseagreen;
        font-size: 20px;
    }
    
    .statusType {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .breed-pasture-wrapper {
        display: flex;
        flex-direction: column;
        margin: 20px 2px;
    }
    .breed-pasture-desc {
        height: 80px;
    }
    
    .breed-pasture-desc select {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }
    
    .breed-pasture-desc input {
        width: 400px;
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }
    
    .breed-pasture-desc label {
        color: mediumseagreen;
        position: absolute;
        top: 10px;
        z-index: 3;
        left: 3%;
        font-size: 0.75rem;
        background-color: white;
    }
    
    .btn-edit-wrapper {
        float: right;
        display: flex;
        margin-top: 50px;
        gap: 20px;
        margin-bottom: 20px;

    }
    
    .btn-delete {
        padding: 7px;
        border-radius: 20px;
        color: black;
        background-color: white;
        width: 120px;
        border: 1px solid lightgrey;
        font-size: 13px;
    }
    
    .btn-edit {
        padding: 7px;
        border-radius: 20px;
        font-size: 13px;
        outline: 0;
        border: 0;
        color: white;
        background-color: black;
        width: 120px;
        text-decoration: none;
        text-align: center;
    }
    /* Cattle detail design */
    .cattle-detail-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }
    
    .top-h1-detail {
        font-size: 17px;
        color: mediumseagreen;
    }
    
    .cattle-detail-desc {
        border: 0.1px solid azure; 
        background-color: white;
        border-radius: 5px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .cattle-detail-desc h1 {
        font-size: 15px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .cattle-detail-desc p {
        font-size: 13px;
        color: gray;
        text-transform: capitalize;
    }
    /* Activity model wrapper */
    .activity-model-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(169, 165, 165, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .activity-modal {
        width: 350px;
        background-color: white;
        border-radius: 7px;
        padding: 7px;
        padding-right: 10px;
        position: relative;
        margin: auto;
        height: 350px;
        position: fixed;
    }
    
    .flex-top {
        display: flex;
        justify-content: space-between;
    }
    
    .flex-top p {
        font-size: 15px;
        font-weight: bold;
    }
    
    .modal-bodys {
        display: flex;
        gap: 40px;
        margin-top: 30px;
    }
    
    .body1,
    .body2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .d-flex-10 {
        display: flex;
        gap: 6px;
    }
    
    .modal-footer {
        position: absolute;
        bottom: 0;
        border-top: 1px solid grey;
        left: 0;
        right: 0;
        padding: 20px;
    }
    
    .modal-btn {
        display: flex;
        gap: 10px;
        float: right;
    
    }
    
    .btn-ok {
        padding: 7px;
        border-radius: 20px;
        background-color: black;
        color: white;
        width: 100px;
        outline: 0;
        border: 0;
        cursor: pointer;
    }
    
    .btn-cancel {
        padding: 7px;
        border-radius: 20px;
        background-color: white;
        color: black;
        width: 80px;
        outline: 0;
        border: 0;
        transition: 0.5s;
    }
    
  }

  @media only screen and (max-width: 600px){
   .dash-numbers {
        display: grid;
        grid-template-columns:1fr 1fr ;
        grid-auto-rows: minmax(60,auto);
    }
    .dash-content {
        display: flex;
        width: 130px;
        border-radius: 7px;
        padding: 10px;
        gap: 20px;
        font-size: 20px;
        border: 1.5px solid lightgrey;
        background-color: white;
    }
    .sort-by-wrapper {
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
        background-color: white;
    }
    .sorts {
        font-weight: 550;
        font-size: 15px;
    }
    
    .sort-by {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
    
    .sort-status-type {
        display: flex;
        gap: 10px;
    }
    
    .statusType span {
        color: red;
    }

    .filter-search {
        display: flex;
        gap: 10px;
    
    }
    .filter-search input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        width: 200px;
        margin-left: 10px;
    }
    .filter-search input:focus{
        border: 1px solid lightgrey !important;
    }
    .btn-sort {
        padding: 5px;
        border: 1px solid lightgrey;
        border-radius: 4px;
        background-color: white;
        font-size: 13px;
        color: rgba(0, 0, 0, 0.7);
        transition: 0.5s;
    }
    .btn-filter {
        padding: 4px;
        border-radius: 5px;
        border: 1px solid lightgrey;
        background-color: #F6F9FA;
        width: 50px;
        height: 40px;
        font-size: 17px;
        text-align: center;
        
    }
    .cattle-wrapper {
    display: flex;
      flex-direction: column;
    }
    .cattle-content1 {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-decoration: none;
        color: black;
    }
    .cattle-content2 {
        flex-basis: 20%;
        border-left: 2px solid azure;
        text-align: center;
        padding-top: 5%;
    }
    .pasture-wrapper {
        display: flex;
         flex-direction: column;
        background-color: #F6F9FA;
    }
    .pasture-desc {
         border: 0.1px solid lightgrey; 
        padding: 15px 7px;
        display: flex;
        border-radius: 10px;
        justify-content: space-between;
        background-color: white;
    }


    /* edit wrapper design responsiveness */
    .edit-cattle-wrapper {
        background-color: white;
        padding: 20px;
    }
    .edit-wrapper {
        display: flex;
        gap: 30px;
        flex-direction: column;
        padding: 30px 2px;
        border-bottom: 1px solid lightgrey;
    }
    .edit-wrapper input {
        width: 100%;
        padding: 12px;
        border-radius: 7px;
        border: 1px solid lightgrey;
    }
    
    .edit-wrapper select {
        width: 100%;
        padding: 12px;
        border-radius: 7px;
        border: 1px solid lightgrey;
    }
    
    .edit-wrapper input:focus {
        border: 1px solid lightgrey;
    }
    
    .flex-direction {
        position: relative;
    }
    
    .edit-wrapper label {
        color: mediumseagreen;
        position: absolute;
        top: 10px;
        z-index: 3;
        left: 3%;
        font-size: 0.75rem;
        background-color: white;
    }
    
    .edit-wrapper span {
        color: red;
    }
    
    .status-type-breed {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid lightgrey;
        padding:  20px 30px;
        gap: 10px;
    }
    
    .lable-wrapper {
        padding: 4px; 
         display: flex;
         color:white;
        text-align: center;
        position: relative;
    
    }
    
    .lable-wrapper span {
        font-size: 13px;
        color: black;
        position: absolute;
        left: 20px;
        top: 10px;
        cursor: pointer;
        padding-top: 0;
    }
    
    .status-types {
        display: flex;
        gap: 10px;
    }
    
    
    .status-types input[type='radio'] {
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: 0;
        border-radius: 20px;
        outline: none;
        cursor: pointer;
        background-color: transparent;
        padding: 10px;
        border-radius: 20px;
         border: 1px solid lightgrey; 
         display: flex;
         color:white;
        width: 78px;
        text-align: center;
        height: 30px;
    }
    .status-types input[type='radio']:checked {
        background-color: mediumseagreen;
        border-color: white;
    }
    
    .top-manage p {
        color: mediumseagreen;
        font-size: 20px;
    }
    
    .statusType {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .breed-pasture-wrapper {
        display: flex;
        flex-direction: column;
        margin: 20px 2px;
        
    }
    .breed-pasture-desc {
        height: 80px;
    }
    
    .breed-pasture-desc select {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }
    
    .breed-pasture-desc input {
        width: 100%;
        padding: 10px;
        border: 1px solid lightgrey;
        border-radius: 4px;
    }
    
    .breed-pasture-desc label {
        color: mediumseagreen;
        position: absolute;
        top: 10px;
        z-index: 3;
        left: 3%;
        font-size: 0.75rem;
        background-color: white;
    }
    
    .btn-edit-wrapper {
        float: right;
        display: flex;
        margin-top: 50px;
        gap: 20px;
        margin-bottom: 20px;

    }
    
    .btn-delete {
        padding: 7px;
        border-radius: 20px;
        color: black;
        background-color: white;
        width: 100px;
        border: 1px solid lightgrey;
        font-size: 13px;
    }
    
    .btn-edit {
        padding: 7px;
        border-radius: 20px;
        font-size: 13px;
        outline: 0;
        border: 0;
        color: white;
        background-color: black;
        width: 100px;
        text-decoration: none;
        text-align: center;
    }
    /* Cattle detail design */
    .cattle-detail-wrapper {
        display: flex;
        flex-direction: column;
        margin-top: 4rem;
    }
    
    .top-h1-detail {
        font-size: 17px;
        color: mediumseagreen;
    }
    
    .cattle-detail-desc {
        border: 0.1px solid azure; 
        background-color: white;
        border-radius: 5px;
        padding: 7px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .cattle-detail-desc h1 {
        font-size: 15px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.7);
    }
    
    .cattle-detail-desc p {
        font-size: 13px;
        color: gray;
        text-transform: capitalize;
    }
    /* Activity model wrapper */
    .activity-model-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: auto;
        bottom: 0;
        z-index: 1000;
        background-color: rgba(169, 165, 165, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .activity-modal {
        width: 350px;
        background-color: white;
        border-radius: 7px;
        padding: 7px;
        padding-right: 10px;
        position: relative;
        margin: auto;
        height: 350px;
        position: fixed;
    }
    
    .flex-top {
        display: flex;
        justify-content: space-between;
    }
    
    .flex-top p {
        font-size: 15px;
        font-weight: bold;
    }
    
    .modal-bodys {
        display: flex;
        gap: 40px;
        margin-top: 30px;
    }
    
    .body1,
    .body2 {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    
    .d-flex-10 {
        display: flex;
        gap: 6px;
    }
    
    .modal-footer {
        position: absolute;
        bottom: 0;
        border-top: 1px solid grey;
        left: 0;
        right: 0;
        padding: 20px;
    }
    
    .modal-btn {
        display: flex;
        gap: 10px;
        float: right;
    
    }
    
    .btn-ok {
        padding: 7px;
        border-radius: 20px;
        background-color: black;
        color: white;
        width: 100px;
        outline: 0;
        border: 0;
        cursor: pointer;
    }
    
    .btn-cancel {
        padding: 7px;
        border-radius: 20px;
        background-color: white;
        color: black;
        width: 80px;
        outline: 0;
        border: 0;
        transition: 0.5s;
    }
  }